openapi: 3.2.0
info:
  title: Prisma Health API
  version: 1.0.0
  contact:
    name: Prisma Support
    email: support@prisma.io
    url: https://www.prisma.io/support
  license:
    name: Proprietary
    url: https://www.prisma.io/terms
  termsOfService: https://www.prisma.io/terms
  description: 'Operations tagged Health across 2 of this provider''s published API definitions: prisma-accelerate-openapi.yml, prisma-pulse-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://accelerate.prisma-data.net
  description: Prisma Accelerate global proxy endpoint
- url: https://pulse.prisma-data.net
  description: Prisma Pulse production endpoint
security:
- apiKeyAuth: []
tags:
- name: Health
  description: Service health and status checks
paths:
  /health:
    get:
      operationId: getHealthStatus
      summary: Prisma Check Accelerate service health
      description: Returns the current health status of the Accelerate proxy service including regional availability information.
      tags:
      - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
    servers:
    - url: https://accelerate.prisma-data.net
      description: Prisma Accelerate global proxy endpoint
components:
  schemas:
    HealthStatus:
      type: object
      description: Health status of the Accelerate service
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unavailable
        region:
          type: string
          description: Region of the health check responder
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
      required:
      - status
      - timestamp
    HealthStatus_2:
      type: object
      description: Health status of the Pulse service
      properties:
        status:
          type: string
          enum:
          - healthy
          - degraded
          - unavailable
        replicationStatus:
          type: string
          description: Status of the PostgreSQL logical replication connection
          enum:
          - connected
          - disconnected
          - reconnecting
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
      required:
      - status
      - timestamp
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key for Accelerate authentication, provided as a Bearer token. Generated from the Prisma Data Platform Console for each environment.
x-refined-from:
- prisma-accelerate-openapi.yml
- prisma-pulse-openapi.yml
