openapi: 3.2.0
info:
  title: Prisma Workspaces API
  version: '1.0'
  description: 'Operations tagged Workspaces across 3 of this provider''s published API definitions: prisma-data-platform-openapi.yml, prisma-postgres-management-api-openapi.json, prisma-postgres-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.prisma.io
  description: Prisma Data Platform production server
- url: https://api.prisma.io
- url: https://api.prisma.io/v1
  description: Prisma Management API production server
tags:
- name: Workspaces
  description: Operations for managing Prisma Data Platform workspaces
paths:
  /workspaces:
    get:
      operationId: listWorkspaces
      summary: Prisma List all workspaces
      description: Retrieves a list of all workspaces accessible to the authenticated user. Each workspace contains projects, environments, and associated resources.
      tags:
      - Workspaces
      responses:
        '200':
          description: Successfully retrieved list of workspaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.prisma.io
      description: Prisma Data Platform production server
  /workspaces/{workspaceId}:
    get:
      operationId: getWorkspace
      summary: Prisma Get a workspace
      description: Retrieves detailed information about a specific workspace including its configuration, billing status, and associated projects.
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Successfully retrieved workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    patch:
      operationId: updateWorkspace
      summary: Prisma Update a workspace
      description: Updates the configuration of a specific workspace, such as its name or settings.
      tags:
      - Workspaces
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdate'
      responses:
        '200':
          description: Successfully updated workspace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.cloud.prisma.io
      description: Prisma Data Platform production server
  /v1/workspaces:
    get:
      responses:
        '200':
          description: Returns the list of workspaces the current token can access.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          pattern: ^(wksp_)([cC][^\s-]{8,}|[a-z0-9]+)$
                        type:
                          type: string
                          const: workspace
                        url:
                          type: string
                          format: uri
                        name:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - type
                      - url
                      - name
                      - createdAt
                  pagination:
                    type: object
                    properties:
                      nextCursor:
                        type:
                        - string
                        - 'null'
                        description: Next cursor to continue pagination
                      hasMore:
                        type: boolean
                        description: Whether there are more items to paginate
                    required:
                    - nextCursor
                    - hasMore
                required:
                - data
                - pagination
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      operationId: getV1Workspaces
      tags:
      - Workspaces
      parameters:
      - in: query
        name: cursor
        schema:
          type:
          - string
          - 'null'
          description: Cursor for pagination
      - in: query
        name: limit
        schema:
          type: number
          default: 100
          description: Limit for pagination
      summary: Get list of workspaces
      description: Returns the list of workspaces the current token can access.
      security:
      - OAuth2:
        - workspace:admin
        - offline_access
      - Bearer: []
    servers:
    - url: https://api.prisma.io
  /v1/workspaces/{id}:
    get:
      responses:
        '200':
          description: Workspace retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        pattern: ^(wksp_)([cC][^\s-]{8,}|[a-z0-9]+)$
                      type:
                        type: string
                        const: workspace
                      url:
                        type: string
                        format: uri
                      name:
                        type: string
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - type
                    - url
                    - name
                    - createdAt
                required:
                - data
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: Workspace with the specified ID was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      operationId: getV1WorkspacesById
      tags:
      - Workspaces
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^(wksp_)?([cC][^\s-]{8,}|[a-z0-9]+)$
        required: true
      summary: Get workspace
      description: Returns the workspace with the given ID.
      security:
      - OAuth2:
        - workspace:admin
        - offline_access
      - Bearer: []
    servers:
    - url: https://api.prisma.io
  /v1/workspaces/{id}/subscription:
    get:
      responses:
        '200':
          description: Workspace subscription retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      planName:
                        type: string
                      usageBlocked:
                        type: boolean
                      upgradeUrl:
                        type: string
                        format: uri
                    required:
                    - planName
                    - usageBlocked
                    - upgradeUrl
                required:
                - data
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: Workspace with the specified ID was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      operationId: getV1WorkspacesByIdSubscription
      tags:
      - Workspaces
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^(wksp_)?([cC][^\s-]{8,}|[a-z0-9]+)$
        required: true
      summary: Get workspace subscription
      description: Returns subscription information for the workspace with the given ID.
      security:
      - OAuth2:
        - workspace:admin
        - offline_access
      - Bearer: []
    servers:
    - url: https://api.prisma.io
components:
  schemas:
    Workspace:
      type: object
      description: A workspace is the top-level organizational unit in the Prisma Data Platform that contains projects, members, and billing configuration.
      properties:
        id:
          type: string
          description: Unique identifier for the workspace
          examples:
          - ws_abc123def456
        name:
          type: string
          description: Display name of the workspace
          examples:
          - My Workspace
        slug:
          type: string
          description: URL-friendly identifier for the workspace
          examples:
          - my-workspace
        plan:
          type: string
          description: Current billing plan for the workspace
          enum:
          - free
          - pro
          - business
          - enterprise
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the workspace was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the workspace was last updated
      required:
      - id
      - name
      - slug
      - plan
      - createdAt
      - updatedAt
    Error:
      type: object
      description: Standard error response from the API
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
    WorkspaceUpdate:
      type: object
      description: Fields that can be updated on a workspace
      properties:
        name:
          type: string
          description: New display name for the workspace
    Workspace_2:
      type: object
      description: A workspace is the top-level organizational unit containing projects, databases, and team members with shared billing.
      properties:
        id:
          type: string
          description: Unique identifier for the workspace
        name:
          type: string
          description: Display name of the workspace
        slug:
          type: string
          description: URL-friendly identifier for the workspace
        plan:
          type: string
          description: Current billing plan
          enum:
          - free
          - pro
          - business
          - enterprise
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the workspace was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the workspace was last updated
      required:
      - id
      - name
      - slug
      - plan
      - createdAt
      - updatedAt
    Error_2:
      type: object
      description: Standard error response
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
  responses:
    RateLimited:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was invalid or malformed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      description: Unique identifier of the workspace
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authentication via service token or OAuth 2.0 access token. Service tokens are created in the Prisma Console under workspace settings.
    OAuth2:
      type: oauth2
      description: OAuth2 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.prisma.io/authorize
          tokenUrl: https://auth.prisma.io/token
          refreshUrl: https://auth.prisma.io/token
          scopes:
            workspace:admin: Full access to workspace resources
            offline_access: Offline access
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 token for API authentication
x-refined-from:
- prisma-data-platform-openapi.yml
- prisma-postgres-management-api-openapi.json
- prisma-postgres-management-openapi.yml
