openapi: 3.1.0
info:
  title: Prisma Accelerate Aggregation API Keys API
  description: API for Prisma Accelerate, a fully managed global connection pool and caching layer for existing databases. Accelerate intercepts Prisma Client queries via a proxy protocol, applies query-level cache policies with configurable TTL and stale-while-revalidate strategies, and provides tag-based cache invalidation. The proxy uses the prisma:// connection protocol to route queries through Accelerate's global edge network.
  version: 1.0.0
  contact:
    name: Prisma Support
    email: support@prisma.io
    url: https://www.prisma.io/support
  license:
    name: Proprietary
    url: https://www.prisma.io/terms
  termsOfService: https://www.prisma.io/terms
servers:
- url: https://accelerate.prisma-data.net
  description: Prisma Accelerate global proxy endpoint
security:
- apiKeyAuth: []
tags:
- name: API Keys
  description: Operations for managing API keys for platform resources
paths:
  /environments/{environmentId}/apikeys:
    get:
      operationId: listApiKeys
      summary: Prisma List API keys for an environment
      description: Retrieves all API keys associated with a specific environment. API keys are used to authenticate Prisma Client requests to platform resources.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/EnvironmentId'
      responses:
        '200':
          description: Successfully retrieved list of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createApiKey
      summary: Prisma Create an API key
      description: Generates a new API key for the specified environment. The full API key value is only returned once during creation and cannot be retrieved later.
      tags:
      - API Keys
      parameters:
      - $ref: '#/components/parameters/EnvironmentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreate'
      responses:
        '201':
          description: Successfully created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyWithValue'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /apikeys/{apiKeyId}:
    delete:
      operationId: deleteApiKey
      summary: Prisma Delete an API key
      description: Permanently revokes and deletes an API key. Any clients using this key will immediately lose access.
      tags:
      - API Keys
      parameters:
      - name: apiKeyId
        in: path
        required: true
        description: Unique identifier of the API key
        schema:
          type: string
      responses:
        '204':
          description: Successfully deleted API key
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  schemas:
    Error:
      type: object
      description: Standard error response from the API
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
    ApiKeyWithValue:
      allOf:
      - $ref: '#/components/schemas/ApiKey'
      - type: object
        properties:
          apiKey:
            type: string
            description: The full API key value. This is only returned once during creation and cannot be retrieved later.
            examples:
            - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        required:
        - apiKey
    ApiKey:
      type: object
      description: An API key used to authenticate Prisma Client requests to Data Platform resources. The key value is only available at creation time.
      properties:
        id:
          type: string
          description: Unique identifier for the API key
        name:
          type: string
          description: Display name of the API key
        hint:
          type: string
          description: Masked hint showing the last few characters of the key
          examples:
          - '****abc123'
        environmentId:
          type: string
          description: Identifier of the associated environment
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the API key was created
      required:
      - id
      - name
      - hint
      - environmentId
      - createdAt
    ApiKeyCreate:
      type: object
      description: Request body for creating a new API key
      properties:
        name:
          type: string
          description: Display name for the new API key
          examples:
          - Production API Key
      required:
      - name
  responses:
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: The request was invalid or malformed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    EnvironmentId:
      name: environmentId
      in: path
      required: true
      description: Unique identifier of the environment
      schema:
        type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key for Accelerate authentication, provided as a Bearer token. Generated from the Prisma Data Platform Console for each environment.
externalDocs:
  description: Prisma Accelerate Documentation
  url: https://www.prisma.io/docs/accelerate
