openapi: 3.2.0
info:
  title: Prisma Database Backups API
  version: '1.0'
  description: 'Operations tagged Database Backups across 2 of this provider''s published API definitions: prisma-postgres-management-api-openapi.json, prisma-postgres-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prisma.io
- url: https://api.prisma.io/v1
  description: Prisma Management API production server
tags:
- name: Database Backups
paths:
  /v1/databases/{databaseId}/backups:
    get:
      responses:
        '200':
          description: Returned backups for the given database.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        backupType:
                          type: string
                          enum:
                          - full
                          - incremental
                          - differential
                        createdAt:
                          type: string
                        size:
                          type: number
                        status:
                          type: string
                          enum:
                          - running
                          - completed
                          - failed
                          - unknown
                        type:
                          type: string
                          const: backup
                      required:
                      - id
                      - backupType
                      - createdAt
                      - status
                  meta:
                    type: object
                    properties:
                      backupRetentionDays:
                        type: number
                    required:
                    - backupRetentionDays
                  pagination:
                    type: object
                    properties:
                      hasMore:
                        type: boolean
                      limit:
                        anyOf:
                        - type: integer
                          minimum: 1
                          maximum: 100
                        - type: 'null'
                    required:
                    - hasMore
                    - limit
                required:
                - data
                - meta
                - pagination
        '401':
          description: Missing or invalid authorization token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '404':
          description: Database with the given ID was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '422':
          description: Remote database backups are not supported
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      hint:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      operationId: getV1DatabasesByDatabaseIdBackups
      tags:
      - Database Backups
      parameters:
      - in: path
        name: databaseId
        schema:
          type: string
          pattern: ^(db_)?([cC][^\s-]{8,}|[a-z0-9]+)$
        required: true
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 25
      summary: Get list of backups
      description: Returns backups for the specified database.
      security:
      - OAuth2:
        - workspace:admin
        - offline_access
      - Bearer: []
    servers:
    - url: https://api.prisma.io
  /databases/{databaseId}/backups:
    get:
      operationId: listDatabaseBackups
      summary: Prisma List database backups
      description: Retrieves a list of all backups for a specific database, including automatic and manual backups with their status and size.
      tags:
      - Database Backups
      parameters:
      - $ref: '#/components/parameters/DatabaseId'
      responses:
        '200':
          description: Successfully retrieved list of backups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DatabaseBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    post:
      operationId: createDatabaseBackup
      summary: Prisma Create a manual database backup
      description: Initiates a manual backup of the specified database. The backup process runs asynchronously. Use the backup ID to check status.
      tags:
      - Database Backups
      parameters:
      - $ref: '#/components/parameters/DatabaseId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupCreate'
      responses:
        '202':
          description: Backup creation initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseBackup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.prisma.io/v1
      description: Prisma Management API production server
  /databases/{databaseId}/backups/{backupId}/restore:
    post:
      operationId: restoreDatabaseBackup
      summary: Prisma Restore a database from backup
      description: Restores a database to the state captured in a specific backup. This operation replaces the current database content with the backup data.
      tags:
      - Database Backups
      parameters:
      - $ref: '#/components/parameters/DatabaseId'
      - name: backupId
        in: path
        required: true
        description: Unique identifier of the backup to restore
        schema:
          type: string
      responses:
        '202':
          description: Database restore initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the restore operation
                    enum:
                    - restoring
                  message:
                    type: string
                    description: Description of the restore operation
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.prisma.io/v1
      description: Prisma Management API production server
components:
  schemas:
    DatabaseBackup:
      type: object
      description: A backup of a Prisma Postgres database
      properties:
        id:
          type: string
          description: Unique identifier for the backup
        databaseId:
          type: string
          description: Identifier of the source database
        type:
          type: string
          description: Type of backup
          enum:
          - automatic
          - manual
        status:
          type: string
          description: Current status of the backup
          enum:
          - pending
          - in_progress
          - completed
          - failed
        sizeBytes:
          type: integer
          format: int64
          description: Size of the backup in bytes
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the backup was created
        completedAt:
          type: string
          format: date-time
          description: Timestamp when the backup completed
      required:
      - id
      - databaseId
      - type
      - status
      - createdAt
    BackupCreate:
      type: object
      description: Request body for creating a manual backup
      properties:
        label:
          type: string
          description: Optional label for the backup
    Error:
      type: object
      description: Standard error response
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
  responses:
    RateLimited:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    DatabaseId:
      name: databaseId
      in: path
      required: true
      description: Unique identifier of the database
      schema:
        type: string
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.prisma.io/authorize
          tokenUrl: https://auth.prisma.io/token
          refreshUrl: https://auth.prisma.io/token
          scopes:
            workspace:admin: Full access to workspace resources
            offline_access: Offline access
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 token for API authentication
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authentication via service token or OAuth 2.0 access token. Service tokens are created in the Prisma Console under Settings > Service Tokens. OAuth 2.0 tokens are obtained via the authorization endpoint at https://auth.prisma.io/authorize with token exchange at https://auth.prisma.io/token. PKCE is supported with S256 code challenge method.
externalDocs:
  description: Prisma Postgres Management API Documentation
  url: https://www.prisma.io/docs/postgres/introduction/management-api
x-refined-from:
- prisma-postgres-management-api-openapi.json
- prisma-postgres-management-openapi.yml
