openapi: 3.2.0
info:
  title: Prisma Data Platform Members API
  description: REST API for managing Prisma Data Platform resources including projects, environments, and database connections through the Prisma Console. Provides programmatic access to workspace management, API key generation, and platform resource configuration.
  version: 1.0.0
  contact:
    name: Prisma Support
    email: support@prisma.io
    url: https://www.prisma.io/support
  license:
    name: Proprietary
    url: https://www.prisma.io/terms
  termsOfService: https://www.prisma.io/terms
servers:
- url: https://api.cloud.prisma.io
  description: Prisma Data Platform production server
security:
- bearerAuth: []
tags:
- name: Members
  description: Operations for managing workspace members and roles
paths:
  /workspaces/{workspaceId}/members:
    get:
      operationId: listWorkspaceMembers
      summary: Prisma List workspace members
      description: Retrieves all members of a workspace including their roles and invitation status.
      tags:
      - Members
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Successfully retrieved workspace members
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceMember'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      description: Unique identifier of the workspace
      schema:
        type: string
  schemas:
    Error:
      type: object
      description: Standard error response from the API
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
    WorkspaceMember:
      type: object
      description: A member of a workspace with an assigned role
      properties:
        id:
          type: string
          description: Unique identifier for the membership
        userId:
          type: string
          description: Identifier of the user
        email:
          type: string
          format: email
          description: Email address of the member
        role:
          type: string
          description: Role assigned to the member within the workspace
          enum:
          - owner
          - admin
          - member
          - viewer
        status:
          type: string
          description: Current status of the membership
          enum:
          - active
          - invited
          - suspended
        joinedAt:
          type: string
          format: date-time
          description: Timestamp when the member joined the workspace
      required:
      - id
      - userId
      - email
      - role
      - status
  responses:
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authentication via service token or OAuth 2.0 access token. Service tokens are created in the Prisma Console under workspace settings.
externalDocs:
  description: Prisma Data Platform Documentation
  url: https://www.prisma.io/docs/platform/about
