openapi: 3.2.0
info:
  title: Prisma Projects API
  version: 1.0.0
  contact:
    name: Prisma Support
    email: support@prisma.io
    url: https://www.prisma.io/support
  license:
    name: Proprietary
    url: https://www.prisma.io/terms
  termsOfService: https://www.prisma.io/terms
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: prisma-data-platform-openapi.yml, prisma-postgres-management-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.cloud.prisma.io
  description: Prisma Data Platform production server
- url: https://api.prisma.io/v1
  description: Prisma Management API production server
security:
- bearerAuth: []
tags:
- name: Projects
  description: Operations for managing projects within workspaces
paths:
  /workspaces/{workspaceId}/projects:
    get:
      operationId: listProjects
      summary: Prisma List projects in a workspace
      description: Retrieves all projects within a specified workspace. Each project contains environments and database configurations.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Successfully retrieved list of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createProject
      summary: Prisma Create a project
      description: Creates a new project within the specified workspace with the given name and configuration settings.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Successfully created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.cloud.prisma.io
      description: Prisma Data Platform production server
  /projects/{projectId}:
    get:
      operationId: getProject
      summary: Prisma Get a project
      description: Retrieves detailed information about a specific project including its environments and database connections.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Successfully retrieved project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteProject
      summary: Prisma Delete a project
      description: Permanently deletes a project and all associated environments and resources. This action cannot be undone.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Successfully deleted project
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.cloud.prisma.io
      description: Prisma Data Platform production server
components:
  responses:
    BadRequest:
      description: The request was invalid or malformed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required or the provided credentials are invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Standard error response from the API
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
    Project:
      type: object
      description: A project represents an application or service within a workspace that contains environments and database connections.
      properties:
        id:
          type: string
          description: Unique identifier for the project
          examples:
          - prj_abc123def456
        name:
          type: string
          description: Display name of the project
          examples:
          - My Application
        workspaceId:
          type: string
          description: Identifier of the parent workspace
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the project was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the project was last updated
      required:
      - id
      - name
      - workspaceId
      - createdAt
      - updatedAt
    ProjectCreate:
      type: object
      description: Request body for creating a new project
      properties:
        name:
          type: string
          description: Display name for the new project
          examples:
          - My New Application
      required:
      - name
    Error_2:
      type: object
      description: Standard error response
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            details:
              type: object
              description: Additional error context
              additionalProperties: true
          required:
          - code
          - message
    ProjectWithDatabase:
      allOf:
      - $ref: '#/components/schemas/Project_2'
      - type: object
        properties:
          databases:
            type: array
            description: Databases associated with the project
            items:
              $ref: '#/components/schemas/Database'
    DatabaseApiKey:
      type: object
      description: An API key for accessing the database
      properties:
        apiKey:
          type: string
          description: The API key value
        connectionString:
          type: string
          description: Full connection string incorporating this API key
      required:
      - apiKey
      - connectionString
    Project_2:
      type: object
      description: A project represents an application or service that contains one or more Prisma Postgres databases.
      properties:
        id:
          type: string
          description: Unique identifier for the project
        name:
          type: string
          description: Display name of the project
        workspaceId:
          type: string
          description: Identifier of the parent workspace
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the project was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the project was last updated
      required:
      - id
      - name
      - workspaceId
      - createdAt
      - updatedAt
    ProjectCreate_2:
      type: object
      description: Request body for creating a new project with a database
      properties:
        name:
          type: string
          description: Display name for the new project
          examples:
          - My Application
        region:
          type: string
          description: Region where the database should be provisioned. Determines the physical location of the database for latency optimization.
          enum:
          - us-east-1
          - us-west-2
          - eu-west-1
          - eu-central-1
          - ap-southeast-1
          - ap-northeast-1
          examples:
          - us-east-1
      required:
      - name
      - region
    DirectConnection:
      type: object
      description: Direct TCP connection details for the database
      properties:
        host:
          type: string
          description: Database host address
        port:
          type: integer
          description: Database port number
          default: 5432
        username:
          type: string
          description: Database username
        password:
          type: string
          description: Database password
        database:
          type: string
          description: Database name
      required:
      - host
      - port
      - username
      - password
      - database
    Database:
      type: object
      description: A Prisma Postgres database instance running PostgreSQL v17 on unikernel-based infrastructure with built-in connection pooling, caching, and real-time subscription capabilities.
      properties:
        id:
          type: string
          description: Unique identifier for the database
        name:
          type: string
          description: Display name of the database
        projectId:
          type: string
          description: Identifier of the parent project
        region:
          type: string
          description: Region where the database is deployed
        status:
          type: string
          description: Current operational status of the database
          enum:
          - provisioning
          - active
          - suspended
          - deleting
          - deleted
        connectionString:
          type: string
          description: Prisma Postgres connection string in prisma+postgres:// format
          examples:
          - prisma+postgres://accelerate.prisma-data.net/?api_key=ey...
        apiKeys:
          type: array
          description: API keys for database access
          items:
            $ref: '#/components/schemas/DatabaseApiKey'
        directConnection:
          $ref: '#/components/schemas/DirectConnection'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the database was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the database was last updated
      required:
      - id
      - projectId
      - region
      - status
      - createdAt
      - updatedAt
  parameters:
    WorkspaceId:
      name: workspaceId
      in: path
      required: true
      description: Unique identifier of the workspace
      schema:
        type: string
    ProjectId:
      name: projectId
      in: path
      required: true
      description: Unique identifier of the project
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Authentication via service token or OAuth 2.0 access token. Service tokens are created in the Prisma Console under workspace settings.
x-refined-from:
- prisma-data-platform-openapi.yml
- prisma-postgres-management-openapi.yml
